<%- include('./header') %>
<h1><%= campground.name %></h1>
<img src="<%= campground.image %>" alt="">
<p><%= campground.description %></p>
<p><a href="/campgrounds">Back to all campgrounds</a></p>
<%- include('./footer') %>
